/*Typography - The main style of the whole site*/

/* Aelita start default settings for the website */
html, body {
  width: auto!important; 
  overflow-x: hidden!important;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Setting the website background to a colour*/
body {
  background-color: #eecbff;
}
/*Targeting all of the a tags on the website*/
a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
/* Buttons on the website*/
button {
  background-color:#e8a2c5;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}
button:hover {
  background: #c797cf;
  color: #ffffff;
  border: none;
  transform: scale(1.2);
}/* Aelita End */

/* Ross start  default settings for the website*/
h1, h2, h3, p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 30px;
  font-weight: normal;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 22px;
}
p {
  font-size: 18px;
} 
/* Ross end */

/*Header CSS*/
/* Start (Aelita 21113131)*/
#a-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  background-color: #c797cf;
  padding: 30px 0px 20px 0px;
}
/*Left side logo in the header*/
.a-logo {
  width: 100px;
  height: 70px;
  margin: auto;
}
/*Right side logo in the header*/
.a-logo-number{
  width: 100px;
  height: 70px;
  margin: auto;
}
/*Left side logo image in the header*/
.a-logo img {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}  
.a-logo img:hover{
  transform: scale(1.3,1.3);
}
.a-logo-cont {
  display: flex;
  flex: 1;
}
.a-logo-cont img {
  width: 100px;
  height: 70px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.a-logo-cont img:hover {
  transform: scale(1.1,1.1);
}
/*Start of the nav bar*/
.a-headNav-cont{
  display: flex;
  flex-direction: column;
  flex: 3;
}
.a-header-cont{
  flex: 1;
  margin: auto;
  padding: 10px;
}
.a-nav-cont {
  flex: 1; 
}
.a-nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.a-nav li a{
  display: block;
  flex-basis: 16%;
  padding: 7px 35px 7px 35px;
  font-size: 15px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #000000;
  border-radius: 1px;
  margin: 5px; 
  transition: 0.2s ease-in-out;
}
.a-nav li a:hover {
  transform: scale(1.1);
}
.a-nav a {
  color: #ffffff;
}
/* hamburger menu start */
.a_hamburger {
  display: none;
  cursor: pointer;
}
.a_line {
  display: block;
  width: 25px;
  height: 5px;
  background-color: #000000;
  margin: 5px auto;;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}/*End of hamburger menu*/
/*End of nav bar*/
/* Header Ends */


/*Footer CSS*/
/* Start (Aelita 21113131)*/
.a-footer {
  background-color: #c797cf;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
}/*Footer logo*/
.a-footer-logo {
  cursor: pointer;
}
.a-footer-logo img {
  width: 100px;
  height: 60px;
  margin-left: 30px;
  margin-top: -20px;
  transition: 0.2s ease-in-out;
}
.a-footer-logo img:hover {
  transform: scale(1.1,1.1); 
}
/*Menu items*/
.a-footer-menu a { 
  margin:0px 40px 0px 150px;
  font-size: 20px;
  cursor: pointer;
  transition: text-decoration-color 800ms;
}
.a-footer-menu a:hover {
  text-decoration: underline 0.15em #eecbff;
  color: #000000;
}
/*Social media icons*/
.a-icons img {
  margin:0px 20px 0px;
  width: 20px;
  height: auto;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.a-icons img:hover {
  transform: scale(2,2);
}
/*Scroll to top button*/
.a-back-to-top {
  margin-left:20px;
  width: 30px;
  height: auto; 
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.a-back-to-top img:hover {
  transform: scale(1.1,1.1);
}/* Footer Ends  */

/*Aelita CSS (21113131)*/

/* Start of Index.html */
.a-size-slider {
  margin: 50px 140px 50px 140px;
}
.a-under-slider {
  max-width: 1200px;
  margin: 60px auto 0 auto;
  padding: 20px 50px;
}
.a-under-slider h1, h2 {
  text-align: center;
}
/*Start Our services section on the index page*/
.a-box {
  padding: 20px;
  margin-bottom: 30px;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.a-box h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.a-box img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.a-box button {
  margin: 20px 40px;
  font-size: 18px;
}/*End */

/*Start About us section on the index page*/
#a-who-we-are h1 {
  margin-top: 80px;
  margin-bottom: 80px;
}
#a-who-we-are img {
 width: 50%;
 border-radius: 5px;
}
.a-home-about {
  display: flex;
  margin-bottom: 80px;
}
.a-home-about p {
  margin: 100px 90px 80px -150px;
  z-index: 99;
  justify-content: center;
  padding: 40px 60px 20px 60px;
  background-color: #c797cff1;
  text-align: center;
}/*End */
/*Testimonial section on the index page*/
#a-testimonials h1{
  margin-top: 100px;
  margin-bottom: 50px;
}
.a-cust-review {
  display: flex;
  justify-content: space-between; 
}
.a-review-box {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}
.a-review-box img {
  width: 120px;
  height: 80px;
  margin: auto;
}/*End */
/*Star ratings*/
.a-stars {
  margin: auto;
}
.a-stars p {
  padding: 20px 0px 0px 0px;
  align-items: center;
}
.a_star_color {
  color: #c797cf;
}
.checked {
  color: #d8d21a;
}/*End */
/* index.html Ends */

/* Contact page Starts*/
.a-main-contact-area {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.a-main-contact-area .a-name {
  max-width: 800px;
  text-align: center;
}
.a-main-contact-area .a-name h1 {
  font-size: 30px;
  font-weight: 500;
}

.a-main-contact-area .a-name h2 {
  font-size: 25px;
  font-weight: 500;
}
.a-contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.a-contact-container .a-contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
} 
.a-contact-container .a-contact-info .a-contact-box {
  position:relative;
  padding: 20px 0px;
  display: flex;
}
.a-contact-container .a-contact-info .a-contact-box .a-contact-icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  background: #c797cf;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.a-contact-container .a-contact-info .a-contact-box .a-contact-text {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 10px;
  flex-direction: column;
}
.a-contact-form {
  width: 60%;
  padding: 10px;
  background: #c797cf;
}
.a-contact-form .a-input-box {
  width: 100%;
  position: relative;
  margin-top: 10px;
  padding: 10px;
}
.a-contact-form .a-input-box input,
.a-contact-form .a-input-box textarea  {
  width: 100%;
  padding: 5px 0px;
  font-size: 18px;
  margin: 10px 0px;
  border: none;
  outline: none;
  resize: none;
}
.a-contact-form .a-input-box input[type="submit"] {
  width: 100%;
  padding: 5px 0px;
  font-size: 18px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}
/*Map on the contact page*/
.a-map-box {
  width: 100%;
  padding: 1% 8% 1%;
  margin-bottom: 30px;
}
iframe {
  height: 400px;
}
/* Contact page Ends*/

/* Ross CSS (21132305) */
/* Services page CSS */
.heading{
  text-align:center;
  background-color: #eecbff;
  font-size:30px;
  margin-top: 50px;
}
.container-1{
  background-color: #eecbff;
  position:inherit;
}
.flip-card {
  background-color: transparent;
  width: 375px;
  height: 375px;
  perspective: 1000px; 
  cursor: pointer;
  margin-left: -15px;
}
.flip-card-inner {
  position: relative;
   width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-image: linear-gradient(#c797cf, white);
  color: black;
  transform: rotateY(180deg);
  text-align: center;
}
.col-md-5{
  align-content: inherit;
  text-align: center;
}
.services{
  font-size: 18px;
  text-align: justify;
  margin-right: 15px;
}
.booking{
  text-align:center;
  margin: 50px;
}
.r-input-box {
 margin-left: 10%;
 margin-right:auto;
 margin-top: 10px;
 margin-bottom:10px;
}
#fullname, #email, #pnum, #message{
  width:200px;
}

.a-ross{
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 50px;
}
.opener{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 40px;
  font-weight: normal;
}
span{
  font-style: italic;
}
/* Services page ends */

/* Gallery CSS */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.column img{
  width: 250px;;
  height: 250px;
  border-style: dashed;
  border-color: #c797cf;
  cursor: pointer;
}
.row > .column {
  padding: 0 8px;
}
.row{
  margin-left: 20px; 
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
  margin: 15px 0px 15px 0px;
}
.col2{
  margin-left: 2%;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: linear-gradient(#c797cf, white);
}
/* Modal Content */
.modal-content{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
/* Modal Content 2 */
.modal-content-2 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 370px;
  height: 370px;
}
/* The Close Button on the image  */
.close {
  color: #e8a2c5;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #e8a2c5;
  text-decoration: none;
  cursor: pointer;
}
/* Hide the slides by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #e8a2c5;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Caption text */
.caption-container {
  text-align: center;
  background-color: #e8a2c5;
  padding: 2px 16px;
  color: black;
}
.demo img{
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
.hover-shadow img {
  transition: 0.3s;  
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 #c797cf, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Gallery page ends */

/*Booking Ross  CSS */
h2{
  margin: 50px;
}
.submit{
  margin: 40px;
}

/* Booking page ends */

/*Steven (21130736) CSS*/
/*About Page*/
.s-container-2{
  margin-bottom: 50px;
}
/*Video Player's styling*/
.stockvideo{
  text-align:center;
  margin:0 auto;
  padding:0px;
  width: 620px;
  margin-bottom: 20px;
}
#playerContainer{
  position:relative;
  width: 620px;
}
#videoPlayer{
  width: 620px;
}
#playerControls{
  top:300px;
  position: absolute;
  width:100%;
  padding:5px;
  box-sizing:border-box;
}
input[type="image"] {
  float:left;
  height:20px;
  margin-left:50px;
  margin-right:5px;
  margin-top:2px;
}
#volImage{
  margin-right:10px;
  width:20px;
}

/*Team Page Steven (21130736)*/

.left-right-side-margins {
  margin-left:10%;
  margin-right:10%;
}
.team-image{
  width:100%;
  height: auto;
}
.container-team {
  margin-top:20px;
  margin-left:-60px;
}
* {box-sizing:border-box}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
}
/* Foward button to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}
/*Hover on buttons background */
.Back:hover, .forward:hover {
  background-color:#eecbff;
}
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: purple;
  border-radius: 50%;
  display: inline-block;
}
.enable, .dots:hover {
  background-color: #FFFFFF;
}
/*Promotion link to webpage*/
.saleRedirect {
  width: auto;
  height: 50px;
  background-color: #eecbff;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: 25;
  cursor: pointer;
  border-radius: 10px;
}
@keyframes example {
  from {background-color: #d4cbff;}
  to {background-color: #ffeecb;}
  to {background-color: #cbffee;}
  to {background-color: #d4cbff;}
}
.teamHeading{
  text-align:center;
  margin-top: 50px; 
  margin-bottom: 50px;
}
/*Information about the company paragraph*/
.infoAbout{
  width:75%;
  margin-left:auto;
  margin-right:auto;
}

/*Steven's CSS - Promotion Page*/
/*Button's styling for game*/
.game-content-buttons-1, .game-content-buttons-2{
  display: flex;
  justify-content: space-around;
  margin-top:20px;
  margin-bottom:20px;
}
#cream, #hairbrush, #hairdryer, #lipstick, #lotion, #pedicure, #seat, #shampoo, #straightener, #zenstones{
  background-image: linear-gradient(#ffeecb, #eecbff);
  border: #cbffee;
  border-style: groove;
}
/*Text styling on page*/
.discountPara {
  text-align: center;
  font-size: 15px;
}
.discountHead{
  text-align: center;
  font-size: larger;
}
#endGameMessage {
  text-align: center;
  font-size: larger;
}

/* Media Queries */ 
@media screen and (max-width: 1300px){

  /*Start Header Nav Aelita (21113131)*/
  .a-nav li a{
    padding: 7px 20px 7px 20px;
  }
  /*End Header Nav*/
}

@media screen and (max-width: 1240px) {

  /*Start Header Nav Aelita (21113131)*/
  .a-nav li a{
    padding: 7px 13px 7px 13px;
  }
  /*End Header Nav*/

  /* Footer meqia query starts (Aelita 21113131) */ 
  .a-footer-logo img {
    width: 80px;
    height: 50px;
    margin-left: 30px;
  }
  .a-footer-menu a { 
    margin:0px 5px 0px 20px;
    font-size: 15px;
  }
  .a-icons img {
    margin:0px 20px 0px;
    width: 20px;
    height: 15px;
  }
  .a-back-to-top {
    margin-left:20px;
    margin-top: 5px;
    width: 30px;
    height: auto; 
  } /* Footer ends */
}

@media only screen and (max-width:1024px){

  /* Start Aelita default settings for the website */
  h1, h2, h3, p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }
  h1{
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4{
    font-size: 18px;
  }
  p {
    font-size: 20px;
  } /* End Aelita*/

  /*Start Header Nav Aelita (21113131)*/
  .a-nav li a{
    padding: 7px 13px 7px 13px;
  }
  /*End Header Nav*/

  /*Start Gallery page Ross*/
  .column img{
  width: 80%;
  height:auto;
  }
  .numbertext img{
    width: 95%;
    height: auto;
  }
  /*End Gallery page */

  /*Start Video pn About us page Steven (21130736)*/
  .stockvideo{
    width:100%;
  }
  #playerContainer{
    width:100%;
  }
  #videoPlayer{
    width:100%;
  }
  #playerControls{
    top:120px;
  }
  /*End video on About us page */

  /*Start Services page Ross */
  img{
    width:90%;
    height:auto;  
  }
  /*End Services page*/
}

@media screen and (min-width: 900px) {

  /* index page starts (Aelita 21113131) */
  .a-serviceInfo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  } /* Index page ends */
}

@media screen and (max-width: 768px) {

  /* Start Steven default settings for the website*/
  h1, h2, h3, p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }
  h1{
    font-size: 25px;  
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4{
    font-size: 17px;
  }
  p {
    font-size: 15px;
  }/* End Steven*/

  /*Start Hamburger menu Aelita (2111331)*/
  .a-nav  {
    display: none;
    position: fixed;
    right: 0px;
    height: 50vh;
    top: 16vh;
    padding-right: 60px;
    background-color: #c797cf;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: 0.3s;
  }
  .a-nav li {
    cursor: pointer;
  }
  .a-nav li a {
    background-color: transparent;
    font-size: 15px;
    margin:0%;
  }
  .a-nav-cont .a-nav ul {
    padding: 0%;
  }
  .a_hamburger {
    display: block;
    float: right;
    margin-top: -65px;
    z-index: 99;
    padding-bottom: 35px;
  }
  .a_hamburger div{
    margin-left: 230px;
    display:flex;
    flex-direction: column;
  }
  .a-logo-number {
    display: none;
  }
  .a-logo-cont img {
    width: 85px;
    height: 55px;
    margin-left: 10px;
    margin-top: -5px;
  }
  .a-header-cont  {
    margin: 0% 10% 8% 10%;
  }
  .a-header-cont h1 {
    font-size: 15px;
    padding-top: 10px;
  }
  .a-nav.active {
    display: flex;
  }
  .a_hamburger.active .a_line:nth-child(2) {
    opacity: 0;
  }
  .a_hamburger.active .a_line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }
  .a_hamburger.active .a_line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
  /* Hamburger menu end */

  /* start Contact page media query (Aelita 21113131) */
  .a-contact-box {
    padding: 50px;
  }
  .a-contact-container .a-contact-info {
    margin-bottom: 40px;  
    width: 100%;
  }
  .a-contact-form {
  width: 100%;
  }
  .a-map-box {
    width: 100%;
    padding: 1% 4% 1%;
    margin-bottom: 10px;
  }/* End Contact page media query (Aelita 21113131) */

  /* Start index page media query (Aelita 21113131)*/
  .a-under-slider{
    padding: 20px;
    margin:auto;
  }
  .a-box img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }/*About us section on the index page*/
  .a-home-about p {
    margin: 0px -60px 0px -100px;
    padding: 10px 40px 10px 40px;
    text-align: center;
  }
  #a-who-we-are img {
    width: 50%;
    height: 50%;
    border-radius: 5px;
   }
   .a-box {
    width: 50%;
    float: right;
   }
   .a-home-about p {
    font-size: 10px;
    margin: auto;
    padding: 20px;
  }
  /*Testimonial area*/
  .a-cust-review p{
    font-size: 12px;
  }
  .a-review-box {
    flex-basis: 27%;
  }
  .a-stars p {
    padding: 20px 0px 0px 0px;
    align-items: center;
  }
  /* End index page media query (Aelita 21113131)*/

/* Footer meqia query starts (Aelita 21113131) */
   .a-footer-logo img {
    width: 80px;
    height: 50px;
    margin-left: 30px;
  }
  .a-footer-menu a { 
    margin:0px 5px 0px 20px;
    font-size: 15px;
  }
  .a-icons img {
    margin: 15px;
    width: 15px;
    height: 15px;
  }
  .a-back-to-top {
    margin-left:20px;
    margin-top: 5px;
    width: 30px;
    height: auto; 
  } /* Footer ends */
}

@media screen and (max-width: 600px){

  /*Start Gallery page light box Ross */
  #myModal {
    overflow-x: hidden;
    overflow-y: auto !important; 
  }
  .column {
    float: left;
    width: 40%;
    margin: 5px 3px 5px 3px;
  }
  .row{
    margin-left: 50px; 
  }
  /*End Gallery page lightbox*/

   /*footer (Aelita 21113131)*/
   .a-footer-logo img {
    width: 40px;
    height: 30px;
    margin: 8px 4px 10px 4px;
  }
  .a-footer-menu a{ 
    margin:0px;
    font-size: 12px;
  }
  .a-icons img {
    margin: 12px;
    width: 12px;
    height: 12px;
  }
  .a-back-to-top {
    margin-left:20px;
    width: 20px;
    height: 20px; 
    margin-top: -1px;
  } /* Footer end */
}


@media screen and (max-width: 480px){

  /* Start Aelita default settings for the website*/
  h1, h2, h3, p{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 19px;
  }
  h3{
    font-size: 15px;
    font-weight: 600;
  }
  h4{
    font-size: 14px;
  }
  p {
    font-size: 12px;
  } /* End Aelita*/

  /*Testimonial area*/
  #a-testimonials {
    display: none;
   }
} 


@media screen and (max-width: 380px){

  /* Start index page media query (Aelita 21113131)*/

  /*Start of slider on index page*/
  .a-size-slider {
    margin: 0px;
  }
  /*End of slider*/
  /*Start of services*/
  .a-main-contact-area {
    padding: 50px 20px;
  }
  .a-main-contact-form {
    margin-top: 0px;
    margin-left: 0px;
  } 
  h2{
    margin: 0px;
    font-size: 18px;
  }
  .a-box img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
  }
  .a-box {
    width: 100%;
    float: right;
   }
   .a-box button {
    font-size: 15px;
    padding: 10px 20px 10px 20px;
  }
   /*End of services*/

  /*About us on index page */
  .saleRedirect {
    display: none;
  }
  #a-who-we-are img {
    width: 100%;
    height: 70%;
    border-radius: 5px;
   }
   #a-who-we-are h1 {
    font-size: 18px;
    margin-top: 60px;
   }
   .a-home-about p {
    font-size: 13px;
    margin-top: 200px;
    margin-left: -300px;
    margin-right: 30px;
  }
  /*End of About us index page*/

  /*Start of review and stars on index page*/
  #a-testimonials {
   display: none;
  }
  /* End index page media query (Aelita 21113131)*/

  /*Start video on about us page Steven (21130736)*/
  .stockvideo{
    width:100%;
  }
  #playerContainer{
    width:100%;
  }
  #videoPlayer{
    width:100%;
  }
  #playerControls{
    top:100px;
  }
  /*End of About us page*/

  /* start Contact page media query (Aelita 21113131) */
  /*Contact page*/
  .a-contact-container {
    flex-wrap: wrap;
  }
  /*Map on contact page*/
  .a-map-box {
    width: 100%;
    padding: 1% 4% 1%;
    margin-bottom: 10px;
  }
  iframe {
    height: 20%;
  }
  /* End Contact page media query (Aelita 21113131) */

 /*footer (Aelita 21113131)*/
  .a-footer-logo img {
    width: 30px;
    height: 20px;
    margin: 7px 2px 10px 2px;
  }
  .a-footer-menu a{ 
    margin:0px;
    font-size: 10px;
    padding: 5px;
  }
  .a-icons img {
    margin: 10px;
    width: 10px;
    height: 10px;
  }
  .a-back-to-top {
    margin-left:20px;
    width: 18px;
    height: 18px; 
  } /* Footer end */
}